.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: white;
}
h1 {
        text-align: center;
        text-wrap: pretty;
        font-family: 'Courier New', Courier, monospace
}

@keyframes colorFade {
    0%      { background-color: rgb(210, 166, 235)}
    16.67%  { background-color: #aba5ea}
    33.34%  { background-color: #b1e0e5}
    50%    { background-color: rgb(166, 240, 198)}
    66.67%  { background-color: rgb(235, 243, 172)}
    83.35%  { background-color: rgb(244, 191, 147)}
    100%    { background-color: rgb(210, 166, 235)}
}

@keyframes edgeBars {

}

.background {
    animation: colorFade 120s ease-in-out infinite;
    /* animation:  */
}

.welcome-text {
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.buttonList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0;
    margin: 0;
}

.dropbtnGH {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnGH:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.dropbtnLI {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnLI:hover {
    cursor: pointer;
    background-color: rgb(0, 119, 181);
}

.dropbtnMD {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnMD:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.dropbtnST {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnLS {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnLS:hover {
    cursor: pointer;
    background-color: rgb(218, 41, 28);
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0);
}

.dropbtnSW {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnVG {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnR16 {
    background-color: #f2648a;
    color: white;
    padding: 16px;
    margin: 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.dropbtnR16:hover {
    cursor: pointer;
    background-color: blue;
}

a.dropbtnGH, a.dropbtnLI, a.dropbtnMD, a.dropbtnST, a.dropbtnLS, a.dropbtnSW, a.dropbtnVG, a.dropbtnR16 {
    text-decoration: none;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.review {
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
.review img {
    height: 400px;
}

.review .description {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}