/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5em 1em;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 0.5em 0;
    font-size: 1.5em;
}

header p {
    margin: 1em 0 0;
}

@keyframes colorFade {
    0%      { background-color: rgb(210, 166, 235)}
    16.67%  { background-color: #aba5ea}
    33.34%  { background-color: #b1e0e5}
    50%    { background-color: rgb(166, 240, 198)}
    66.67%  { background-color: rgb(235, 243, 172)}
    83.35%  { background-color: rgb(244, 191, 147)}
    100%    { background-color: rgb(210, 166, 235)}
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1em;
    background-color: white;
    animation: colorFade 120s ease-in-out infinite;
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1em;
    text-align: center;
}

.profile-pic-container {
    margin-bottom: 1em;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
    max-width: 200px;
}

.contact-links img {
    width: 100%;
    max-width: 150px;
    margin: 0.5em 0;
}

.content {
    flex: 3;
    padding: 1em;
}

.tech-list {
    margin-bottom: 2em;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-icons img {
    width: 100px;
    height: auto;
}

.buttonList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .content {
        order: -1;
    }
}